---
title: React.js Starter Kit
component: ContentPage
---
div
  div.ui.container
      div.ui.center.aligned.three.column.divided.padded.grid.container
        div.row
          div.column
            h3 Explore
            img(src="explore.png" width="70")
            p Explore your favourite cities like a local. Get to know unique experiences around you wherever you go.
          div.column
            h3 Remember
            img(src="reminder.png" width="70")
            p Tap anywhere on the map to create a memory. Place notes and get reminded where you need them.
          div.column
            h3 Share
            img(src="share.png" width="70")
            p Share your discoveries and tips with friends and the world. They'll thank you on their next visit.
      div.ui.three.column.grid.container
        div.row
          div.column
          div.column
          div.column
      div.ui.container
        h3 Ready to fall in love with this app?

